<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <asp logErrorRequests="false" enableParentPaths="true" runOnEndAnonymously="false">
            <limits bufferingLimit="20480000" maxRequestEntityAllowed="20480000" />
        </asp>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="ISAPI-dll" />
            <add name="PHP.FastCGI" path="*.php" verb="GET,HEAD,POST,TRACE,DEBUG" modules="FastCgiModule" scriptProcessor="C:\zhujibao\apps\php5.4\php-cgi.exe" />
            <add name="ISAPI-dll" path="*.dll" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\zhujibao\domains\php-7.0.32-nts-Win32-VC14-x64\php7.dll" resourceType="File" requireAccess="Execute" allowPathInfo="true" preCondition="bitness64" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.shtml" />
                <add value="index.asp" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <anonymousAuthentication userName="IIS_wangxiaoming2391" password="[enc:AesProvider:BAMfVvLcbSBL8549kaH7Gxodscoy4h3mUcVVIjB17vWYaxxBQdUlN1Oct7KQE6Fz:enc]" />
            </authentication>
        </security>
    </system.webServer>
</configuration>
